<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8"/>
<title>Dashboard</title>
</head>
<body>
	<h2>Texte, Überschriften und viel mehr!</h2>
	<h1>Überschrift 1</h1>
	<h2>Überschrift 2</h2>
	<h3>...</h3>
	<h6>Überschrift 6</h6>
	
	<p>Hier steht etwas Text. Der ist innerhalb eines p-elements.</p>
	
	<p>Jetzt mal ein Link. Schick mich zu <a href="http://google.com">Google</a>!</p>
	
	<h2>Listen! WOW</h2>
	<ul>
		<li>Item 1</li>
		<li>Item 2</li>
		<li>Und noch ein hilfreicher <a href="http://devdocs.io/">Link</a>!</li>
		<ul>
			<li>Und eine Sublist. Uiii</li>
		</ul>
		<li>Item xy</li>
	</ul>
	
	<h2>Tabellen. TABELLEN!!!</h2>
	
	<!-- border beschreibt, ob die tabelle mit begrenzung gezeigt wird oder nicht-->
	<!-- siehe: https://www.w3schools.com/tags/att_table_border.asp -->
	<table border="1">
		<thead>
			<tr>
		      <th>Ein Tabellen Kopf</th>
		      <th>Ist aber nicht notwendig</th>
		    </tr>
		</thead>
		<tr>
	      <td>Feld links</td>
	      <td>Feld rechts</td>
	    </tr>
	    <tr>
	      <td>Feld unten 1</td>
	      <td>Feld unten 2</td>
	    </tr>
	</table>
	
	<h2>Inputs!</h2>
	Einfach mal ein Input: <input id="mein_input" type="text"/> <br/>
	Eine Checkbox: <input id="meine_checkbox" type="checkbox"/> <br/>
	Ein Button: <input type="button" onclick="alert('Uiiiiii')"/> <br/>
	Ein anderer Button: <button onclick="zeigeInput()">Knopf</button>
	
	<!-- Mal ein wenig javascript -->
	<script type="text/javascript">
		zeigeInput = function() {
			var inputText = document.getElementById("mein_input").value;
			var inputBoolean = document.getElementById("meine_checkbox").checked;
			alert(inputText + " " +  inputBoolean);
		}
	</script>
</body>
</html>