<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8"/>
<title>Dashboard</title>
</head>
<body>
	<h1 th:text="${testString}">Stuff</h1>
	<h2 th:text="${testNumber}">Number</h2>
	
	<h2>Testperson:</h2>
	<p th:text="'Name: ' + ${testPerson.firstName} + ' ' + ${testPerson.lastName}"></p>
	
	<p th:text="'Alter: ' + ${testPerson.age}"></p>
	<p th:text="'Person volljährig: ' + ${testPerson.age > 17}"></p>
	
	<h2>Eine Liste von Personen</h2>
	<ul>
		<li th:each="person : ${testPersonList}" th:text="${person.lastName}">Item</li>
	</ul>
	
	<h2>Ein paar mehr Informationen über die Personen</h2>
	<table border="1">
		<thead>
			<tr>
			  <th>Index</th>
		      <th>Vorname</th>
		      <th>Nachname</th>
		      <th>Alter</th>
		      <th>Lebendig</th>
		    </tr>
		</thead>
		<tr th:each="p,index : ${testPersonList}">
	      <td th:text="${index.index}">Index</td>
	      <td th:text="${p.firstName}">Vorname</td>
	      <td th:text="${p.lastName}">Nachname</td>
	      <td th:text="${p.age}">Alter</td>
	      <td th:text="${p.alive} ? 'lebend' : 'verstorben'">Lebendig</td>
	    </tr>
	</table>
	
	<h2>Eine Auflistung der lebendigen Personen aus der Liste</h2>
	<table border="1">
		<thead>
			<tr>
			  <th>Index</th>
		      <th>Vorname</th>
		      <th>Nachname</th>
		      <th>Alter</th>
		    </tr>
		</thead>
		<tr th:each="p,index : ${testPersonList}" th:if="${p.alive}">
	      <td th:text="${index.index}">Index</td>
	      <td th:text="${p.firstName}">Vorname</td>
	      <td th:text="${p.lastName}">Nachname</td>
	      <td th:text="${p.age}">Alter</td>
	    </tr>
	</table>
	
	<h2>Nur die verstorbenen:</h2>
	<table border="1">
		<thead>
			<tr>
			  <th>Index</th>
		      <th>Vorname</th>
		      <th>Nachname</th>
		      <th>Alter</th>
		    </tr>
		</thead>
		<tr th:each="p,index : ${testPersonList}" th:object="${p}" th:unless="${p.alive}">
	      <td th:text="${index.index}">Index</td>
	      <td th:text="*{firstName}">Vorname</td>
	      <td th:text="*{lastName}">Nachname</td>
	      <td th:text="*{age}">Alter</td>
	    </tr>
	</table>
	
</body>
</html>